@model TrackManager.Models.PdfForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h3>@ViewData["Message"]</h3>


<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
